<p><%= flash[:notice] %></p>


<div class="container"> <!-- ここを追加 -->
<div class="row">   <!-- ここを追加 -->
<div class="col-xs-3" >

<h1>User info</h1>

	<td>
	<%= attachment_image_tag @user, :profile_image,fallback:"no_image-ede28af4bad96368ef41be1b4be1cffce0d9402540f75d17895e32cb0d2af5e6.jpg" %>
	</td>
<h3>name</h3>
<%= @user.name %>
<h3>introduction</h3>
<%= @user.introduction %>

<%= link_to "", edit_user_path(current_user), class: "btn btn-default glyphicon glyphicon-wrench" %>

<h1>New book</h1>

<%= form_for(@book) do |f| %>
    <h4>Title</h4>
    <%= f.text_field :title %>
    <h4>Opinion</h4>
    <%= f.text_field :body %>
    <%= f.submit 'Create Book', class: "btn btn-default" %>
<% end %>
</div>

 <div class="col-xs-9">
<h1>Book detail</h1>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Body</th>
    </tr>
  </thead>

  <tbody>
  		<tr>
  			<td><%= link_to user_path(@user) do %>
	<%= attachment_image_tag @user, :profile_image,fallback:"no_image-ede28af4bad96368ef41be1b4be1cffce0d9402540f75d17895e32cb0d2af5e6.jpg" %>
		<% end %>
			<%= link_to @user.name,user_path(@user) %>
		</td>
  			<td><%=link_to @book.title %></td>
			<td><%= @book.body %></td>
  		</tr>
  		<% if @book.user == current_user %>
<%= link_to "Edit",edit_book_path(@book.id) %>
<%= link_to "Destroy",book_path(@book.id),method: :delete %>
<% end %>
   </tbody>



</table>
</div>
 </div>  <!-- ここを追加 -->
  </div>      <!-- ここを追加 -->